# Webapp Vite React Production Configuration Example
VITE_API_BASE_URL=http://localhost:3010/api/v1
VITE_TILE_URL=http://localhost:8080/styles/vetsat/{z}/{x}/{y}.png
VITE_TILE_ATTRIBUTION=Bộ CHQS Tỉnh — Máy chủ GIS Nội bộ MQS
